[[source]]
name = "pypi"
# url = "https://pypi.douban.com/simple"
# url = "https://pypi.tuna.tsinghua.edu.cn/simple"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
yapf = "*"
pytest = "*"
pytest-qt = "*"
pyqt6-tools = ">6.5"

[packages]
requests = ">2.0"
chardet = ">=3.0.4"
preimport = ">=1.1.0"
toml = ">=0.10.0"
tomlconfig = ">=1.2.1"
pyqt6= ">6.5"
pyqt6-sip = ">=12.7"
qscintilla = ">=2.11.4"
codeeditor = ">=1.1.0"

[requires]
python_version = "3.11"
